main{
    min-height: 100vh;
    display: grid;
    place-items: center;
}
.container{
    text-align: center;
}
.container h1{
    background-color: #222;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 25px;
}
.btn-hero{
    text-transform: uppercase;
    background: transparent;
    color: #222;
    border: 2px solid #222;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px;
}
.btn-hero:active{
    color: #fff;
    background-color: #222;
}