.Calculator{
    padding: 10px;
    border-radius: 10px;
    height: 380px;
    width: 400px;
    margin: 50px auto;
    background-color: #4b504b;
    box-shadow: 0px 0px 10px black;
}
.display-box{
    font-family: 'oribtron',sans-serif;
    background-color: #ddfaff;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    width: 98%;
    height: 65%;
}
#btn{
    background-color: #71e089;
}
input[type=button]{
    font-family: 'oribtron',sans-serif;
    background-color: #fefdff;
    border: 1px solid rgb(4,253,13);
    width: 100%;
    height: 70%;
    border-radius: 5px;
    outline: none;
}
input:active[type=button]{
    background-color: #504f52;
    box-sizing: 0px 0px 10px white;
}